<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLITZ tour</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <style>
        body{
            background: url(/static/images/мариот.jpg) no-repeat;
            -moz-background-size: 100%;
            -webkit-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
        }
    </style>
</head>
<body class="body">

<nav class="dopinfo">
        <ul class="info">
            <li><a href="https://t.me/TheEndliar">Вопросы?</a></li>
            <li><a href="https://t.me/einfachSchutze">Konntakt mit Uns</a></li>
        </ul>
</nav>

<header class="kopf">
    <div class="unterkopf">
        <h1 class="Z1">BLITZ tour</h1>
    </div>
</header>

<section class="A1">
<div class="Z2">
        <div class="A2">
          <div class="A3">
            <img src="/static/images/SWI.jpg">
            <div class="A4">
              <p class="A5"><strong>Switzerland</strong></p>
              <p class="A6" style="font-family:fantasy;">Столица хер пойми кого, хер пойми чего. А так, отличные часы и great chocolate</p>
              <p class="A7" style="text-decoration:line-through;font-family:fantasy;">Минусы : какие минусы у европы? Тупой ты ватник, лол)0</p>
              <div class="A8">
                <div class="A9">
                  <form action="https://tours.tutu.ru/switzerland/iz_goroda/58_novosibirsk/" target="_blank">
                  <button type="submit" class="A10">Buy</button>
                  </form>
                </div>
                <small class="A11">6700 Euro</small>
              </div>
            </div>
          </div>
        </div>
</div>
</section>

<section class="B1">
        <div class="B2">
          <div class="B3">
            <img src="/static/images/France.jpg">
            <div class="B4">
              <p class="B5"><strong>France</strong></p>
              <p class="B6" style="font-family:fantasy;">Столица багетов, революций и сюры, как только кто-то пукнет в их сторону</p>
              <p class="B7" style="font-family:fantasy;">Минусы : если с кем-то зарамсить, то по ощущению будет, что вам признаются в любви</p>
              <div class="B8">
                <div class="B9">
                  <form action="https://tours.tutu.ru/france/iz_goroda/58_novosibirsk/" target="_blank">
                  <button type="submit" class="B10">Buy</button>
                  </form>
                </div>
                <small class="B11">5000 Euro</small>
              </div>
            </div>
          </div>
        </div>
    </section>

<section class="C1">
    <div>
        <div class="C2">
          <div class="C3">
            <img src="/static/images/Deutschland.jpg">
            <div class="C4">
              <p class="C5"><strong>Deutschland</strong></p>
              <p class="C6" style="font-family:fantasy;">Богатая немецким Gift`ом страна. Отличное пиво и хороший боварский сосиска</p>
              <p class="C7" style="font-family:fantasy;">Минусы : ААААААА, НЕМЦЫЫЫ. Ja,ja. Naturlich</p>
              <div class="C8">
                <div class="C9">
                  <form action="https://tours.tutu.ru/germany/iz_goroda/58_novosibirsk/" target="_blank">
                  <button type="submit" class="C10">Buy</button>
                  </form>
                </div>
                <small class="C11">6200 Euro</small>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
</body>
</html>